#NET "XC_WDT_EN" LOC = "P16" | IOSTANDARD = LVCMOS33 ;
#NET "XC_CMD<1>" LOC = "P30" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "XC_CMD<0>" LOC = "P29" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "XC_D<2>" LOC = "P36" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "XC_D<1>" LOC = "P34" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "XC_D<0>" LOC = "P33" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "FPGA_M2" LOC = "P8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "FPGA_M1" LOC = "P6" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "FPGA_M0" LOC = "P5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "XC_CPLD_EN" LOC = "P42" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "XC_TRIG" LOC = "P41" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "XC_DONE" LOC = "P40" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "XC_PROG_B" LOC = "P39" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "XC_GCK0" LOC = "P43" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
NET "GCLK10" LOC = "P1" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "SPI_SCK" LOC = "P44" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
# SF_A<24> is the same as FX2_IO<32>
#NET "SF_A<24>" LOC = "P23" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "SF_A<23>" LOC = "P22" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "SF_A<22>" LOC = "P21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "SF_A<21>" LOC = "P20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;
#NET "SF_A<20>" LOC = "P19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW ;